/* Set background color to a color */
body {
    background-color: #eee !important;
    }

body {
    background-color: #ebecf1 !important;
    overflow: hidden;
    }

/* Set height of the grid so .sidenav can be 100% (adjust as needed) */
.row.content {
    height: 100vh
}

/* Set row height for all elements in the row */
.row {
    height: fit-content;
}

.col {
    height: 100
}

.pageheader {
    display: inline-block;
}

.pageheadertxt {
    display: inline-block;
}

.pageheaderballoon {
    position: absolute;
    display: inline-block;
    right: 3%;
}

.element {
    height: 50px;
    display: inline-block;
    vertical-align: middle;
    padding: 7.5px 10px;
    background-color: #fff;
    border-radius: 60px;
    border-bottom: 5px solid #D09F47 ;
}

.hoverelement {
    display: none;
}

.pageheaderballoon:hover + .hoverelement {
    display: inline-block;
}

.balloontxt {
    display: inline-block;
    margin-left: 10px;
    margin-right: 10px;
}

.balloontxt>a{
    font-weight: bold;
}

/* Set white background color and 100% height */
.sidenav {
text-align: center;
background-color: #D09F47;
height: 100%;
background-image: url('../imgs/Frame1a.svg');
background-repeat: no-repeat;
background-size: cover;
height: 100%;
}
    
#witblok{
display:block;
background-color: #fff;
border-bottom-color: #D09F47;
border-bottom-width: 5px;
height: 250px;
border-radius: 20px;
}
    
#geelblok{
display:block;
background-color: #D09F47;
border-bottom-color: #a77f34;
border-bottom-width: 5px;
height: 250px;
border-radius: 20px;
}
    
#wittetekst{
color: #fff;
}

body {
    background-color: #ebecf1 !important;
    overflow: hidden;
}
    
#witblok {
    display:block;
    background-color: #fff;
    border-bottom-color: #D09F47;
    border-bottom-width: 6px;
    height: 250px;
    border-radius: 20px;
}
    
#paarsblok { 
    display:block;
    background-color: #6e4cd0;
    border-bottom-color: #58178d;
    border-bottom-width: 6px;
    height: 250px;
    border-radius: 20px;
}
    
#wittetekst {
    color: #fff;
}
    
#h1 {
    color: #D09F47;
    text-align: justify;
    font-weight: 900;
}
    
#CoffeeDickTitle{
    position: relative;
    margin-left: 0.8%;
    margin-top: 10px;
    color: white;
    font-family: Verdana, Tahoma, sans-serif;
    font-weight: 900;
}
    
.nav-stacked li.active a{
     color: #090088;
}

    
#h1{
color: #D09F47;
text-align: justify;
font-weight: 900;
}

#CoffeeDickTitle{
position: relative;
margin-left: 0.8%;
margin-top: 10px;
color: white;
font-family: Verdana, Tahoma, sans-serif;
font-weight: 900;
}


    
/* On small screens, set height to 'auto' for the grid */
@media screen and (max-width: 767px) {
    .row.content {
    height: 100vh;
    }
}

.name {
    color: white;
    text-align: center;
}

h3 {
    margin-top: 0 !important;
}

#ogen-01  {
    display: inline-block;
    text-align: center;
    margin: auto;
    margin-top: 35vh;
  }

.bgbeverage {
    filter: drop-shadow( 0px 0px 3px rgba(110, 76, 208, 1));
    margin: auto;
    max-width: 80%;
}

.rounddraai{
    width: 45px;
    height: 45px;
    display: inline-block;
    text-align: center;
    margin-top: 35vh;
}