body {
    background-color: #ebecf1 !important;
    overflow: hidden;
    }
    
    #witblok{
    display:block;
    background-color: #fff;
    border-bottom-color: #D09F47;
    border-bottom-width: 6px;
    height: 250px;
    border-radius: 20px;
    }
    
    #paarsblok{
    display:block;
    background-color: #6e4cd0;
    border-bottom-color: #58178d;
    border-bottom-width: 6px;
    height: 250px;
    border-radius: 20px;
    
    }
    
    #wittetekst{
    color: #fff;
    }
    
    #h1{
    color: #D09F47;
    text-align: justify;
    font-weight: 900;
    }
    
    #CoffeeDickTitle{
        position: absolute;
        margin-left: 0.8%;
        margin-top: 10px;
        color: white;
        font-family: Verdana, Tahoma, sans-serif;
        font-weight: 900;
    }
    
    
    .nav-stacked{
        color: #7a7a7a;
        font-size: 16px;
        margin-top: 140%;
        margin-bottom: 5px;
        padding: 10px 10px;
        padding-right: 33px;
        font-weight: 200;
        font-style: oblique;
    
    }
    
    .nav-stacked li.active a  
    {
     color: #090088;
    
     
    }
    
    .col-sm-10{
    padding-top: 10px;   
    }
    /* Set height of the grid so .sidenav can be 100% (adjust as needed) */
    .row.content {height: 100vh }
    
    /* Set background image color and 100% height */
    .sidenav {
    background-image: url('../Images/Frame2a.png');
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
    }
    
    
    
    
    
    /* On small screens, set height to 'auto' for the grid */
    @media screen and (max-width: 767px) {
    .row.content {
    height: 100vh;
    }
    }